
body{
	background-image: url("../Images/background6.jpg");
	/*background-size: 1080px;*/
	/*background-position: cover;*/
	/*background-repeat: repeat;*/
  /*background-color: #E1E1E1;*/
   background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100% 720px;

}

/*.container{
	padding-left:100px; 
	width:900px;
	height:1500px;
	background-color: rgba(102,0,0,0.5);

}*/
.footer{
 	width:900px;
 	height:70px;
 	padding-top: 10px;
    /*background-color: rgba(38, 26, 13,0.5);	*/

}


li{
	padding-left:20px;
	padding-right: 20px;
	display:inline-block;
	color: brown;
	font-size: 2em;


}
li a{

    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a.active{
  color: white;
  background-color: #6666ff;
}
li a:hover:not(.active) {
    background-color: #ddd;
}

li{
  float: right;
}
a{

display: block;
text-align: center;
color: black;

}
a:active{

	color:#5cbaeb;

}
ul{
	/*padding-top: 20px
	*/padding-right: 0px;	
   border: 1px solid #e7e7e7;
	left: 500px;
	top:60px;
}


}
.header{
	width:inherit;
	height: 90px;
  position: fixed;
  top: 0px;
  /*background-color: blue;	*/
}



.codelabs{
	font-size: 70px;
	font-family: "AGENCYB"
	font-style: oblique;
}
.crce{
	padding-top: 19px;
	font-size: 50px;
}

.mainContent{

	/*background-color: #b3ffff;*/
  /*background-color: rgba(111, 133, 220,0.7);*/
	min-height: 2500px;
}
.sec{
	max-width: inherit;
  /*background-color: rgba(111, 133, 220,0.7);*/
	/*background-color:#b3ffff;*/
	min-height: 300px;
}




.desc,blockquote{
	font-size: 50px;
	font-style: oblique;
	font-style: italic;
	padding-left: 10px;
}
/*#hr1{
  align:left;

	padding-top: -10px;
  margin-right: 200px;
  size: 3
  color: solid red;

}*/

#h{
padding-left: 20px;
padding-top: 20px;

}
.container{
  /*background-color: rgba(111, 133, 220,0.7);*/
}
.feeds{
	/*background-color: rgba(9, 34, 32,0.1);*/
/*background-color: rgba(111, 133, 220,0.7);*/
	min-height: 400px;
  position: center;


}


  #input-message{
  margin-top: 75px;
  	height:170px;
  }

  #team{
  	max-height: 250px;
  	max-width: 250px;
  	padding-left: 50px;
   }
   .mem_info{
   	padding-left: 90px;
   	padding-bottom: 20px;
   }

.title{
  margin-left: 30px;
}
.t1,.t2{
  font-size: 50px;
}
/*******************block quotesss************************/


.bstart {
     font-size: 100px;
     color: #FF0000;
 }

 .bend {
  float: right;
     font-size: 100px;
     color: #FF0000;
 }
/*******************block quotesss************************/

.events_indi_tile{
  height:407px;
  width:772px;
  background-position: cover;
  /*background-size: 100%;*/
}

/*****************Events***********************/
.event{
  height:300px; 
  width:100%;
  background-image: url("../Images/Desert.jpg");
  background-position: cover;
  /*background size:100%;*/
  margin:10px;
  border-radius: 10px;
}
.event:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*box-shadow:  10px 10px;*/

}
/*.event_header:hover{
  height: 20%;
  width: 100% ;
  background-color: black;
  opacity: 0.1;
}*/
.more{
  position:absolute;
  bottom: 20px;
  right:20px;
  margin-right:80px; 
  margin-bottom: 0px;
}
#event1,#event2,#event3,#event4{
  height: 300px;
  width: 100%;
}
#event1{
background-image: url("../Images/ALGO1.jpg");
background-size: cover;
background-repeat: no-repeat;
back
}

/*****************Events***********************/
/*******************TEAM*******************/
.mem_name{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 28px;
  width: auto;
}
.mem_pos{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
}

.mem_info{
 
  margin-left: -40px;

}
/********************TEAM******************/

/************************* FEEDBACK FORM ***********************************/
@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Merriweather);
$red: #e74c3c;

*, 
*:before, 
*:after {
   @include box-sizing(border-box); 
}
 input, textarea {
     border:0; outline:0;
     padding: 1em;
     border-radius:8px;
     display: block;
     width: 100%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     box-shadow:0 5px 5px rgba(black, 0.7);
     resize: none;
  }
  .half.left.cf{
    padding-top: 55px;
  }

  #input-name,#input-email,#input-subject,#input-message,#input-submit{
    /*margin-left: 150px;*/
  }

  #input-name:hover,#input-email:hover,#input-subject:hover,#input-message:hover{
      box-shadow: 3px 3px 3px ;
  }

  #input-submit:hover{
      background-color: #5cbaeb;
       box-shadow: 3px 3px 3px ;
  }

form {
   max-width: 600px;
   text-align: center;
   margin: 20px auto;
  }
  input, textarea {
     border:0; outline:0;
     padding: 1em;
     @include border-radius(8px);
     display: block;
     width: 100%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     @include box-shadow(0 1px 1px rgba(black, 0.1));
     resize: none;
    
    &:focus {
       @include box-shadow(0 0px 2px rgba($red, 1)!important);
    }
  
  
  #input-submit {
     color: white;
     background: $red;
     cursor: pointer;
  }
  
  textarea {
      height: 126px;
  }
}


.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}


@media (max-width: 480px) {
  .half {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/************************* CLOSE FEEDBACK FORM ********************/

/**************************PARALLEX***************************************/
  .parallax-container {
      height: "your height here";
    }
/***************************PARALLEX*************************/
/**********************TOP SCROLL OPEN*************************/

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #555; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #5cbaeb; /* Add a dark-grey background on hover */
}
/***************************TOP SCROLL END***********************/

/*************************OPEN TIMELINE ********************/
/* Media Queries */
/* Card sizing */
/* Colors */
/* Calculations */
/* Placeholders */
.democard:hover{

 margin-top: 10PX;
 margin-right: 10PX;

}
#timeline{
  background-color: none;
}
@media (min-width: 1000px) {
  #timeline .demo-card:nth-child(odd) .head::after, #timeline .demo-card:nth-child(even) .head::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

  #timeline .demo-card:nth-child(odd) .head::before, #timeline .demo-card:nth-child(even) .head::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background-color: #bdbdbd;
    border-radius: 9px;
    box-shadow: 0px 0px 2px 8px #f7f7f7;
  }
}
/* Some Cool Stuff */
.demo-card:nth-child(1) {
  order: 1;
}

.demo-card:nth-child(2) {
  order: 5;
}
                                /*this is the vertical arangment of the ecvents on both side*/
.demo-card:nth-child(3) {
  order: 2;
}
                                    /* Re arrnge the order after adding new event*/
.demo-card:nth-child(4) {
  order: 6;
}

.demo-card:nth-child(5) {
  order: 3;
}

/*.demo-card:nth-child(6) {
  order: 7;
}*/
/*.demo-card:nth-child(7){
  order: 4;
}*/

/* Border Box */
* {
  box-sizing: border-box;
}

#e1,#e2,#e3,#e4,#e5,#e6,#e7{
  height:209px;
  width :418px;
}
/* Fonts */
body {
  font-family: Roboto;
}

#timeline {
  padding: 100px 0;
  background: #f7f7f7;
  border-top: 1px solid rgba(191, 191, 191, 0.4);
  border-bottom: 1px solid rgba(191, 191, 191, 0.4);
}
#timeline h1 {
  text-align: center; 
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 20px;
}
#timeline p.leader {
  text-align: center;
  max-width: 90%;
  margin: auto;
  margin-bottom: 45px;
}
#timeline .demo-card-wrapper {
  position: relative;
  margin: auto;
}
@media (min-width: 1000px) {
  #timeline .demo-card-wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 1170px;
    height: 2000px;         /* Height of the  container increase while adding up a new event */
    margin: 0 auto;
  }
}
#timeline .demo-card-wrapper::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid rgba(191, 191, 191, 0.4);
}
@media (min-width: 1000px) {
  #timeline .demo-card-wrapper::after {
    border-left: 1px solid #bdbdbd;
  }
}
#timeline .demo-card {
  position: relative;
  display: block;
  margin: 10px auto 80px;
  max-width: 94%;
  z-index: 2;
}
@media (min-width: 480px) {
  #timeline .demo-card {
    max-width: 60%;
    box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
  }
}
@media (min-width: 720px) {
  #timeline .demo-card {
    max-width: 40%;
  }
}
@media (min-width: 1000px) {
  #timeline .demo-card {
    max-width: 450px;
    height: 400px;
    margin: 90px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  #timeline .demo-card:nth-child(odd) {
    margin-right: 45px;
  }
  #timeline .demo-card:nth-child(odd) .head::after {
    border-left-width: 15px;
    border-left-style: solid;
    left: 100%;
  }
  #timeline .demo-card:nth-child(odd) .head::before {
    left: 491.5px;
  }
  #timeline .demo-card:nth-child(even) {
    margin-left: 45px;
  }
  #timeline .demo-card:nth-child(even) .head::after {
    border-right-width: 15px;
    border-right-style: solid;
    right: 100%;
  }
  #timeline .demo-card:nth-child(even) .head::before {
    right: 489.5px;
  }
  #timeline .demo-card:nth-child(2) {
    margin-top: 180px;
  }
}
#timeline .demo-card .head {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 400;
}
#timeline .demo-card .head .number-box {
  display: inline;
  float: left;
  margin: 15px;
  padding: 10px;
  font-size: 35px;
  line-height: 35px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.17);
}
#timeline .demo-card .head h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: inherit;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 6px;
  line-height: 1rem;
}
@media (min-width: 480px) {
  #timeline .demo-card .head h2 {
    font-size: 165%;
    line-height: 1.2rem;
  }
}
#timeline .demo-card .head h2 span {
  display: block;
  font-size: 0.6rem;
  margin: 0;
}
@media (min-width: 480px) {
  #timeline .demo-card .head h2 span {
    font-size: 0.8rem;
  }
}
#timeline .demo-card .body {
  background: #fff;
  border: 1px solid rgba(191, 191, 191, 0.4);
  border-top: 0;
  padding: 15px;
}
@media (min-width: 1000px) {
  #timeline .demo-card .body {
    height: 315px;
  }
}
#timeline .demo-card .body p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px;
}
#timeline .demo-card .body img {
  display: block;
  width: 100%;
}
                          /*  Colour of the  Tile if event */
#timeline .demo-card--step1 {
  background-color: #46b8e9;
}
#timeline .demo-card--step1 .head::after {
  border-color: #46b8e9;
}
#timeline .demo-card--step2 {
  background-color: #3ee9d1;
}
#timeline .demo-card--step2 .head::after {
  border-color: #3ee9d1;
}
#timeline .demo-card--step3 {
  background-color: #ce43eb;
}
#timeline .demo-card--step3 .head::after {
  border-color: #ce43eb;
}
#timeline .demo-card--step4 {
  background-color: #4d92eb;
}
#timeline .demo-card--step4 .head::after {
  border-color: #4d92eb;
}
#timeline .demo-card--step5 {
  background-color: #46b8e9;
}
#timeline .demo-card--step5 .head::after {
  border-color: #46b8e9;
}
#timeline .demo-card--step6 {
  background-color: #ce43eb;
}
#timeline .demo-card--step6 .head::after {
  border-color: #ce43eb;
}
#timeline .demo-card--step7 {
  background-color: #3ee9d1;
}
#timeline .demo-card--step7 .head::after {
  border-color: #3ee9d1;
}

/*****************CLOSE TIMELINE*******************/


/**********Events******************/

#tile{
 border: 5px solid #ddd;
    border-radius: 4px;
    padding: 30px;
    width: 500px;
    height: 500px;

}

/***********Events*****************/

/************Carousel start*********************/

#home_page_carousel_image{
  height: 500px;
}
/************Carousel ends *********************/